In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import keras
import pickle
import nltk
import string
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer 
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential 
from keras import layers
from keras import regularizers
from keras import backend as K
from tensorflow.keras.optimizers import SGD
from keras.callbacks import ModelCheckpoint
from nltk.tokenize import RegexpTokenizer
from tensorflow.keras.preprocessing import sequence
from keras.preprocessing.sequence import pad_sequences
import csv

In [2]:
data = pd.read_csv("data.csv", encoding = "ISO-8859-1", engine="python")
data.columns = ["label", "time", "date", "query", "username", "text"]

In [3]:
data.head()

,label,time,date,query,username,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [4]:
data.tail()

,label,time,date,query,username,text
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [113]:
# The top results have the positive results while the bottom results have negative results

In [5]:
data.columns

Index(['label', 'time', 'date', 'query', 'username', 'text'], dtype='object')

In [6]:
print('lenght of data is', len(data))

lenght of data is 1599999

In [116]:
# The overall dataset is quite large. Therefore a portion of this data shall be used.

In [7]:
data.shape

(1599999, 6)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   label     1599999 non-null  int64
 1   time      1599999 non-null  int64
 2   date      1599999 non-null  object
 3   query     1599999 non-null  object
 4   username  1599999 non-null  object
 5   text      1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [9]:
np.sum(data.isnull().any(axis=1))

0

In [120]:
# There are no null values. Therefore, missing value treatment is not needed.

In [10]:
# We only need the text and the label column. Therefore only those 2 columns are selected

data=data[['text','label']]

In [11]:
# Values for label are 0 and 4. The 4 values are changed to 1

data['label'][data['label']==4]=1

In [12]:
# We seperate out the positive and negative samples and select 20000 from each. 
# The original dataset is too big. Therefore, having a smaller sample helps in increasing training speed
# The original dataset is also imbalanced. Therefore, taking 20000 values from both hepls make the dataset balanced.
# The number of samples can be increased to improve accuracy.

data_pos = data[data['label'] == 1]
data_neg = data[data['label'] == 0]

data_pos = data_pos.iloc[:int(30000)]
data_neg = data_neg.iloc[:int(30000)]

# Merging the data

data = pd.concat([data_pos, data_neg])

In [13]:
# We convert the text to lowercase

data['text']=data['text'].str.lower()

In [14]:
data.tail()

                                                    text  label
29995  oh ffs! i've been here all fucking day. why de...      0
29996  leaving britney-just found out jon from new ki...      0
29997  @neomic i havta' go pee, but im scared to walk...      0
29998  nooooooooooooooo!!!!!! school today. but the w...      0
29999                            back to school tomorow       0

In [16]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\omraw\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [17]:
# The data needs to be cleaned. 

stopwords_list = stopwords.words('english')

", ".join(stopwords.words('english'))

"i, me, my, myself, we, our, ours, ourselves, you, you're, you've, you'll, you'd, your, yours, yourself, yourselves, he, him, his, himself, she, she's, her, hers, herself, it, it's, its, itself, they, them, their, theirs, themselves, what, which, who, whom, this, that, that'll, these, those, am, is, are, was, were, be, been, being, have, has, had, having, do, does, did, doing, a, an, the, and, but, if, or, because, as, until, while, of, at, by, for, with, about, against, between, into, through, during, before, after, above, below, to, from, up, down, in, out, on, off, over, under, again, further, then, once, here, there, when, where, why, how, all, any, both, each, few, more, most, other, some, such, no, nor, not, only, own, same, so, than, too, very, s, t, can, will, just, don, don't, should, should've, now, d, ll, m, o, re, ve, y, ain, aren, aren't, couldn, couldn't, didn, didn't, doesn, doesn't, hadn, hadn't, hasn, hasn't, haven, haven't, isn, isn't, ma, mightn, mightn't, mustn, mustn't, needn, needn't, shan, shan't, shouldn, shouldn't, wasn, wasn't, weren, weren't, won, won't, wouldn, wouldn't"

In [127]:
STOPWORDS = set(stopwords.words('english'))
def cleaning_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

data['text'] = data['text'].apply(lambda text: cleaning_stopwords(text))
#data['text'].head()



english_punctuations = string.punctuation
punctuations_list = english_punctuations
def cleaning_punctuations(text):
    translator = str.maketrans('', '', punctuations_list)
    return text.translate(translator)

data['text']= data['text'].apply(lambda x: cleaning_punctuations(x))
#data['text'].tail()



def cleaning_repeating_char(text):
    return re.sub(r'(.)\1+', r'\1', text)

data['text'] = data['text'].apply(lambda x: cleaning_repeating_char(x))
#data['text'].tail()



def cleaning_email(data):
    return re.sub('@[^\s]+', ' ', data)

data['text']= data['text'].apply(lambda x: cleaning_email(x))
#data['text'].tail()



def cleaning_URLs(data):
    return re.sub('((www\.[^\s]+)|(https?://[^\s]+))',' ',data)

data['text'] = data['text'].apply(lambda x: cleaning_URLs(x))
#data['text'].tail()



def cleaning_numbers(data):
    return re.sub('[0-9]+', '', data)

data['text'] = data['text'].apply(lambda x: cleaning_numbers(x))
#data['text'].tail()

In [128]:
data.head()

                                                     text  label
799999                  love healthuandpets u guys r best      1
800000  im meting one besties tonight cant wait girl talk      1
800001  darealsunisakim thanks twiter ad sunisa got me...      1
800002  sick realy cheap hurts much eat real fod plus ...      1
800003                        lovesbroklyn efect everyone      1

In [129]:
# Tokenization

tokenizer = RegexpTokenizer(r'\w+')
data['text'] = data['text'].apply(tokenizer.tokenize)

data['text'].head()

799999             [love, healthuandpets, u, guys, r, best]
800000    [im, meting, one, besties, tonight, cant, wait...
800001    [darealsunisakim, thanks, twiter, ad, sunisa, ...
800002    [sick, realy, cheap, hurts, much, eat, real, f...
800003                      [lovesbroklyn, efect, everyone]
Name: text, dtype: object

In [130]:
# Stemming

st = nltk.PorterStemmer()
def stemming_on_text(data):
    text = [st.stem(word) for word in data]
    return data

data['text']= data['text'].apply(lambda x: stemming_on_text(x))

data.head()

                                                     text  label
799999           [love, healthuandpets, u, guys, r, best]      1
800000  [im, meting, one, besties, tonight, cant, wait...      1
800001  [darealsunisakim, thanks, twiter, ad, sunisa, ...      1
800002  [sick, realy, cheap, hurts, much, eat, real, f...      1
800003                    [lovesbroklyn, efect, everyone]      1

In [131]:
# Lemmatization

lm = nltk.WordNetLemmatizer()
def lemmatizer_on_text(data):
    text = [lm.lemmatize(word) for word in data]
    return data

data['text'] = data['text'].apply(lambda x: lemmatizer_on_text(x))

data.head()

                                                     text  label
799999           [love, healthuandpets, u, guys, r, best]      1
800000  [im, meting, one, besties, tonight, cant, wait...      1
800001  [darealsunisakim, thanks, twiter, ad, sunisa, ...      1
800002  [sick, realy, cheap, hurts, much, eat, real, f...      1
800003                    [lovesbroklyn, efect, everyone]      1

In [132]:
X=data['text']
y=[]

for i in range(len(data)):
  l=[0,0]
  temp=data.iloc[i,1]
  l[temp-1]=1
  y.append(l)

print(y[0])
print(y[-1])

# [1,0] for positive emotion, [0,1] for negative emotion

[1, 0]
[0, 1]

In [133]:
max_len=0
min_len=1000
sum_len=0
avg_len=0


for i in X:
    if len(i)>max_len:
        max_len=len(i)
    if len(i)< min_len:
        min_len=len(i)
    sum_len=sum_len+len(i)
avg_len=sum_len/len(X)
print(max_len)
print(min_len)
print(sum_len)
print(avg_len)
print(len(X))

39
0
466831
7.780516666666666
60000

In [134]:
max_len = 100
num_words = 2000
tok = Tokenizer(num_words=2000)
tok.fit_on_texts(X)
sequences = tok.texts_to_sequences(X)
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)

In [135]:
sequences_matrix.shape

(60000, 100)

In [136]:
X_train, X_test, y_train, y_test = train_test_split(sequences_matrix, y, test_size=0.2, random_state=2)

In [137]:
X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

In [138]:
model = Sequential()
model.add(layers.Embedding(2000, 40, input_length=max_len))
model.add(layers.LSTM(64))
model.add(layers.Dense(256,activation='relu'))
model.add(layers.Dense(128,activation='relu'))
model.add(layers.Dense(64,activation='relu'))
model.add(layers.Dense(2,activation='softmax'))

sgd = SGD(lr=0.01, decay=1e-6, momentum=0.9, nesterov=True)
model.compile(loss='binary_crossentropy',
              optimizer=sgd, metrics=['accuracy'])

C:\Users\Yash\AppData\Roaming\Python\Python37\site-packages\keras\optimizer_v2\gradient_descent.py:102: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(SGD, self).__init__(name, **kwargs)

In [139]:
model.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_5 (Embedding)     (None, 100, 40)           80000

 lstm_5 (LSTM)               (None, 64)                26880

 dense_20 (Dense)            (None, 256)               16640

 dense_21 (Dense)            (None, 128)               32896

 dense_22 (Dense)            (None, 64)                8256

 dense_23 (Dense)            (None, 2)                 130

=================================================================
Total params: 164,802
Trainable params: 164,802
Non-trainable params: 0
_________________________________________________________________

In [140]:
history=model.fit(X_train, y_train, epochs=40,validation_data=(X_test, y_test))

Epoch 1/40
1500/1500 [==============================] - 97s 63ms/step - loss: 0.6925 - accuracy: 0.5154 - val_loss: 0.6896 - val_accuracy: 0.5557
Epoch 2/40
1500/1500 [==============================] - 94s 62ms/step - loss: 0.6602 - accuracy: 0.5919 - val_loss: 0.5813 - val_accuracy: 0.6865
Epoch 3/40
1500/1500 [==============================] - 90s 60ms/step - loss: 0.5439 - accuracy: 0.7257 - val_loss: 0.5241 - val_accuracy: 0.7366
Epoch 4/40
1500/1500 [==============================] - 91s 61ms/step - loss: 0.5104 - accuracy: 0.7511 - val_loss: 0.5143 - val_accuracy: 0.7457
Epoch 5/40
1500/1500 [==============================] - 90s 60ms/step - loss: 0.4982 - accuracy: 0.7586 - val_loss: 0.5173 - val_accuracy: 0.7418
Epoch 6/40
1500/1500 [==============================] - 93s 62ms/step - loss: 0.4919 - accuracy: 0.7631 - val_loss: 0.5051 - val_accuracy: 0.7507
Epoch 7/40
1500/1500 [==============================] - 91s 61ms/step - loss: 0.4878 - accuracy: 0.7675 - val_loss: 0.5031 - val_accuracy: 0.7542
Epoch 8/40
1500/1500 [==============================] - 90s 60ms/step - loss: 0.4852 - accuracy: 0.7689 - val_loss: 0.5008 - val_accuracy: 0.7548
Epoch 9/40
1500/1500 [==============================] - 91s 61ms/step - loss: 0.4832 - accuracy: 0.7688 - val_loss: 0.5080 - val_accuracy: 0.7484
Epoch 10/40
1500/1500 [==============================] - 91s 61ms/step - loss: 0.4810 - accuracy: 0.7710 - val_loss: 0.5018 - val_accuracy: 0.7547
Epoch 11/40
1500/1500 [==============================] - 85s 56ms/step - loss: 0.4798 - accuracy: 0.7715 - val_loss: 0.5049 - val_accuracy: 0.7498
Epoch 12/40
1500/1500 [==============================] - 84s 56ms/step - loss: 0.4782 - accuracy: 0.7706 - val_loss: 0.5011 - val_accuracy: 0.7533
Epoch 13/40
1500/1500 [==============================] - 84s 56ms/step - loss: 0.4766 - accuracy: 0.7723 - val_loss: 0.5031 - val_accuracy: 0.7527
Epoch 14/40
1500/1500 [==============================] - 84s 56ms/step - loss: 0.4826 - accuracy: 0.7692 - val_loss: 0.5058 - val_accuracy: 0.7515
Epoch 15/40
1500/1500 [==============================] - 84s 56ms/step - loss: 0.4773 - accuracy: 0.7722 - val_loss: 0.5007 - val_accuracy: 0.7519
Epoch 16/40
1500/1500 [==============================] - 92s 61ms/step - loss: 0.4738 - accuracy: 0.7741 - val_loss: 0.5058 - val_accuracy: 0.7545
Epoch 17/40
1500/1500 [==============================] - 147s 98ms/step - loss: 0.4720 - accuracy: 0.7746 - val_loss: 0.5043 - val_accuracy: 0.7550
Epoch 18/40
1500/1500 [==============================] - 122s 81ms/step - loss: 0.4693 - accuracy: 0.7763 - val_loss: 0.5014 - val_accuracy: 0.7553
Epoch 19/40
1500/1500 [==============================] - 95s 63ms/step - loss: 0.4676 - accuracy: 0.7772 - val_loss: 0.5096 - val_accuracy: 0.7521
Epoch 20/40
1500/1500 [==============================] - 92s 62ms/step - loss: 0.4644 - accuracy: 0.7783 - val_loss: 0.5090 - val_accuracy: 0.7478
Epoch 21/40
1500/1500 [==============================] - 91s 61ms/step - loss: 0.4621 - accuracy: 0.7812 - val_loss: 0.5225 - val_accuracy: 0.7366
Epoch 22/40
1500/1500 [==============================] - 95s 63ms/step - loss: 0.4600 - accuracy: 0.7800 - val_loss: 0.5083 - val_accuracy: 0.7521
Epoch 23/40
1500/1500 [==============================] - 104s 69ms/step - loss: 0.4566 - accuracy: 0.7829 - val_loss: 0.5176 - val_accuracy: 0.7529
Epoch 24/40
1500/1500 [==============================] - 109s 73ms/step - loss: 0.4540 - accuracy: 0.7840 - val_loss: 0.5075 - val_accuracy: 0.7525
Epoch 25/40
1500/1500 [==============================] - 112s 75ms/step - loss: 0.4505 - accuracy: 0.7855 - val_loss: 0.5154 - val_accuracy: 0.7523
Epoch 26/40
1500/1500 [==============================] - 165s 110ms/step - loss: 0.4479 - accuracy: 0.7867 - val_loss: 0.5136 - val_accuracy: 0.7469
Epoch 27/40
1500/1500 [==============================] - 135s 90ms/step - loss: 0.4455 - accuracy: 0.7881 - val_loss: 0.5247 - val_accuracy: 0.7405
Epoch 28/40
1500/1500 [==============================] - 143s 95ms/step - loss: 0.4415 - accuracy: 0.7905 - val_loss: 0.5139 - val_accuracy: 0.7464
Epoch 29/40
1500/1500 [==============================] - 160s 107ms/step - loss: 0.4385 - accuracy: 0.7923 - val_loss: 0.5361 - val_accuracy: 0.7513
Epoch 30/40
1500/1500 [==============================] - 142s 95ms/step - loss: 0.4351 - accuracy: 0.7940 - val_loss: 0.5161 - val_accuracy: 0.7460
Epoch 31/40
1500/1500 [==============================] - 153s 102ms/step - loss: 0.4314 - accuracy: 0.7959 - val_loss: 0.5395 - val_accuracy: 0.7443
Epoch 32/40
1500/1500 [==============================] - 115s 77ms/step - loss: 0.4282 - accuracy: 0.7974 - val_loss: 0.5380 - val_accuracy: 0.7483
Epoch 33/40
1500/1500 [==============================] - 94s 63ms/step - loss: 0.4259 - accuracy: 0.7990 - val_loss: 0.5266 - val_accuracy: 0.7467
Epoch 34/40
1500/1500 [==============================] - 97s 64ms/step - loss: 0.4209 - accuracy: 0.8014 - val_loss: 0.5498 - val_accuracy: 0.7460
Epoch 35/40
1500/1500 [==============================] - 90s 60ms/step - loss: 0.4181 - accuracy: 0.8034 - val_loss: 0.5477 - val_accuracy: 0.7451
Epoch 36/40
1500/1500 [==============================] - 96s 64ms/step - loss: 0.4142 - accuracy: 0.8053 - val_loss: 0.5421 - val_accuracy: 0.7452
Epoch 37/40
1500/1500 [==============================] - 91s 61ms/step - loss: 0.4090 - accuracy: 0.8083 - val_loss: 0.5704 - val_accuracy: 0.7434
Epoch 38/40
1500/1500 [==============================] - 89s 59ms/step - loss: 0.4065 - accuracy: 0.8086 - val_loss: 0.5635 - val_accuracy: 0.7381
Epoch 39/40
1500/1500 [==============================] - 90s 60ms/step - loss: 0.4021 - accuracy: 0.8123 - val_loss: 0.5624 - val_accuracy: 0.7429
Epoch 40/40
1500/1500 [==============================] - 86s 57ms/step - loss: 0.3989 - accuracy: 0.8134 - val_loss: 0.5706 - val_accuracy: 0.7403

In [155]:
list = ['This is the best day of my life', 'I feel like dying','I want to die I am a bad person','I feel like killing myself','I am happy','I am sad','I am very happy']

sequences = tok.texts_to_sequences(list)
testing_sequences = sequence.pad_sequences(sequences,maxlen=max_len)

y_samples = np.array(testing_sequences)
model.predict(y_samples)

array([[9.97888029e-01, 2.11195368e-03],
       [2.86348024e-03, 9.97136474e-01],
       [6.23350628e-02, 9.37664866e-01],
       [4.21500087e-01, 5.78499913e-01],
       [8.95941198e-01, 1.04058735e-01],
       [2.55014966e-05, 9.99974489e-01],
       [9.98445570e-01, 1.55449368e-03]], dtype=float32)

In [156]:
y_samples

array([[   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,  390,  355,  861,   93,    3,  315, 1345,
         106],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,  381,    5,
         831],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,  381,   25,   56,  844,  381,  146,  952,   57,
         461],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,  381,    5,
         721],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,  381,
         146],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,  381,  146,
          54],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,  381,  146,
        1432]])

In [157]:
print(list)
print(model.predict(y_samples))

['This is the best day of my life', 'I feel like dying', 'I want to die I am a bad person', 'I feel like killing myself', 'I am happy', 'I am sad', 'I am very happy']
[[9.97888029e-01 2.11195368e-03]
 [2.86348024e-03 9.97136474e-01]
 [6.23350628e-02 9.37664866e-01]
 [4.21500087e-01 5.78499913e-01]
 [8.95941198e-01 1.04058735e-01]
 [2.55014966e-05 9.99974489e-01]
 [9.98445570e-01 1.55449368e-03]]

In [154]:
import pickle

model.save('model.h5', history)